body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 17px;
	background-color:#d8d7e9;
}

a {
	color: black;
}

a:hover {
	color: white;
}

.title{
    font-family:zubilo shadow, sans-serif;
	font-style: normal;
	font-weight: 400;
	/*font-size: 85px;*/
	text-align: center;
	color: #3e348d; 
    font-size: 10.5vw;
}


.item{
	background-color: gray;
	transition:2s;

}

.item:hover {
	background-color: ;
	transition:2s;
}

.desc:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}


div.item {
  display: block;
  margin: 5px;
  border: 2px solid #ecefab;
  float: left;
  width: 30vw;
  padding: 1vw;
  background-color: white;
  text-shadow: 3px 3px 10px 10px;
}

div.item:hover {
  border: 2px solid #4952a3;
}

div.item img {
  width: 100%;
  height: 30vw;
  max-width:100%;
  display: block;
}

div.desc {
  padding: 5vw;
  text-align: center;
}



