.backgroud{
	background-color:black;
	padding: 20px;
    
	
}

.quote {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

h1 {
  color: white;
  font-family: Bely Display;
  font-size: 50px;

 

}


h2 {
  color: white;
  font-family: Volina Regular;
  margin-top: -40px;
  text-align: right;
  color: yellow;
}





h3 {
color: white;
column-count: 2;
line-height: 1.5;
}



h4 {
  color: white;
  border-top: 1px solid yellow;
  column-count: 2;
  line-height: 1.5;
}

h5 {
  color: white;
  border-top: 1px solid yellow;
  column-count: 2;
  line-height: 1.5;
}











