.backgroud{
	background-color:lightgrey;
	padding: 20px;
    
	
}

.quote {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



h1 {
  font-size: 100px;
  font-family: Zubilo Shadow;
  text-align: center;
  line-height: 1.3;
  
}

h2 {
	color: #ed860a;
	font-size: 20px;
	text-align: right;
	font-family: Aileron Italic;
    margin-top: -40px;
    line-height: 1.3;
  
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

}

.figure {
  width: 50%;
}

.figure img {
  width: 100%;
}

.text {
  width: 48%;
  text-align: right 20px;
  font-family: Myriad Variable Concept;
  
}

.p2 {

	column-count: 2;

}


h4 {
  font-weight: bold;
  font-size: 30px ;
  color: #ed860a;
  line-height: 1.3;
}

.p3 {
	column-count: 2;
}

.style {


}

















